* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 div h1 {
    background-color: blue;
    color: white;
 }

 .contact {
    background-color: aqua;
 }
 footer {
   background-color: blanchedalmond; 
 }